

html{
  font-family: 'Montserrat', sans-serif;
  background-color: #282c34;
  overflow-x:hidden;
  overflow-y:hidden;
}

.title{
  font-size: 3em;
  margin-top: 5vh;
  text-align: center;
  color:white;
  width:100vw;
  height:5vh;
}

#delete{
  font-size: 1.2em;
  display: inline-block;
  position:sticky;
  right:0;
}
#delete:hover{
  color: rgb(216, 49, 49);
}

#name{
  display: inline-block;
  margin-left:5%;
  width:85%;
}

#item{
  display:block;
  font-size:1.5em;
  color: white;
  margin: 1vmin;
  border-radius:7px;
  background-color:#686b77;
  width:85%;
  height:4vh;
  text-align: left;
}

#list{
  margin:auto;
  margin-top:2vh;
  text-align: center;
  display:flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  background-color: #c0c0c0;
  width:30%;
  height:80vh;
  overflow-y:scroll;
}
#list::-webkit-scrollbar{width:0}



#listinput{
  margin:auto;
  margin-top:3vh;
  text-align: center;
}

#input{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size:1.25em;
  width:250px;
  height:3vh;
  padding-left:0.5vw;
  margin-left:2vw;
  background-color: white;
  border:none;
  border-radius:7px;
  margin-right:1vw;
}
#submit{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size:1.25em;
  width:100px;
  padding-left:5px;
  padding-right:5px;
  height:3vh;
  background-color: white;
  border:none;
  border-radius:7px;
}

#submit:hover{
  background-color: rgb(75, 135, 214);
}

#clear{
  justify-self:flex-end;
  margin-top:10px;
  background-color:white;
  border-radius: 7px;
  padding:7px;
}

#clear:hover{
  background-color:red;
  color:white;
}